/* variables & mixin */
/* ***************** */
@keyframes fill {
  0% {
    opacity: 0;
    scale: 0;
  }
  50% {
    opacity: 0.5;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
    display: block;
  }
}
/* global */
/* ****** */
* {
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
}

/* main-container */
/* ************** */
/* header */
/* ****** */
header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  width: 100%;
  height: 62px;
  align-items: center;
}
header a {
  padding-left: 18px;
  color: #101010;
}
header a i {
  font-size: 30px;
}
header .logo {
  text-align: center;
}
header .logo img {
  height: 36px;
}

.hero img {
  height: 275px;
  width: 100%;
}

/* restaurant */
/* ********** */
.restaurant {
  position: absolute;
  border-radius: 25px 25px 0 0;
  background-color: #F6F6F6;
  top: 302px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 10px 40px;
}
.restaurant__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}
.restaurant__title {
  font-family: Shrikhand, sans-serif;
  font-size: 28px;
  font-weight: 400;
  height: 32px;
}
.restaurant .hearts {
  position: relative;
  width: 22px;
  height: 22px;
  font-size: 22px;
}
.restaurant .heart {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.restaurant .heart2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant .heart2:hover {
  animation: fill 300ms linear forwards;
}
.restaurant__btn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 186px;
  height: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 100ms linear;
}
.restaurant__btn:hover {
  filter: brightness(110%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.firstcourse, .course, .dessert {
  display: grid;
  grid-template-rows: auto 3px repeat(3, 68px);
  gap: 12px;
}

h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
}

.line {
  border-top: 3px solid #99E2D0;
  width: 40px;
}

.card {
  background-color: #FFFFFF;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  opacity: 0;
}
.card #card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.card #card:checked ~ .card__content {
  width: calc(100% - 70px);
}
.card #card:checked ~ .card__check {
  transform: translateX(-70px);
}
.card__content {
  padding: 15px;
  width: 100%;
  transition: width 0.5s ease-in-out;
}
.card__info {
  display: flex;
  justify-content: space-between;
}
.card__title {
  width: 100%;
}
.card__description {
  font-size: 15px;
  font-weight: 300;
  padding-right: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__price {
  font-size: 18px;
  font-weight: 700;
}
.card__check {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 70px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
.card__check i {
  font-size: 25px;
  color: #FFFFFF;
  z-index: 9;
}

.card1 {
  animation: fadein 2s ease-in forwards;
}

.card2 {
  animation: fadein 2s ease-in 0.5s forwards;
}

.card3 {
  animation: fadein 2s ease-in 1s forwards;
}

.card4 {
  animation: fadein 2s ease-in 1.5s forwards;
}

.card5 {
  animation: fadein 2s ease-in 2s forwards;
}

.card6 {
  animation: fadein 2s ease-in 2.5s forwards;
}

.card7 {
  animation: fadein 2s ease-in 3s forwards;
}

.card8 {
  animation: fadein 2s ease-in 3.5s forwards;
}

.card9 {
  animation: fadein 2s ease-in 4s forwards;
}

/* footer */
/* ****** */
footer {
  position: absolute;
  top: 1440px;
  width: 100%;
  padding: 20px;
  background-color: black;
  color: white;
}
footer h2 {
  font-family: Shrikhand, sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}
footer .footer__links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .footer__links a {
  color: white;
}
footer .footer__links i {
  margin-right: 8px;
}

/* responsive */
/* ********** */
@media (min-width: 768px) and (max-width: 1024px) {
  /* header */
  /* ****** */
  .hero img {
    height: auto;
  }
}
@media (min-width: 1024px) {
  /* main-container */
  /* ************** */
  .main-container {
    display: grid;
    grid-template-columns: auto;
  }
  /* header */
  /* ****** */
  .hero img {
    height: 383px;
    object-fit: cover;
    object-position: center center;
  }
  .restaurant {
    top: 353px;
    max-width: 1055px;
    justify-self: center;
  }
  /* footer */
  /* ****** */
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
  footer h2 {
    height: 28px;
    margin-left: 80px;
    padding: 10px 40px 0 0;
  }
  footer .footer__links {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }
  footer .footer__links a:nth-child(3) {
    margin-left: 20px;
  }
  footer .footer__links a:nth-child(4) {
    margin-left: 5px;
  }
}

/*# sourceMappingURL=menu.css.map */
