/* variables & mixin */
/* ***************** */

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$bg-white: #F3F3F3;

@mixin btn-shadow {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin violet-gradient {
    background: linear-gradient($secondary, $primary);
}

@keyframes fade_in-out {
    from {
        display: flex;
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
    }
}

@keyframes fill {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
    
}

/* loader */
/* ****** */

.main-container {
    position: relative;
}

.loader {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: $bg-white;
    @include flex-center;
    animation: fade_in-out 1s linear 3s both;

    i {
        background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 100px;
    }
    
}

/* global */
/* ****** */

* {
    font-family: Roboto, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

/* main-container */
/* ************** */

/* header */
/* ****** */

header {
    @include flex-col;
}

.logo, .location {
    @include flex-center;
}

.logo {
    height: 62px;

    img {
        height: 36px;
    }
}

.location {
    background-color: #EAEAEA;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    @include btn-shadow;

    p {
        margin-left: 10px;
    }    
}

/* reservation */
/* *********** */

.reservation {
    @include flex-col;
    text-align: center;
    align-items: center;
    background-color: $bg-white;
    padding: 40px 0 50px;

    &__title {
        width: 275px;
        height: 68px;
    }

    &__content {        
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 28px;
    }

    &__btn {
        @include flex-center;
        width: 218px;
        height: 50px;
        @include violet-gradient;
        border-radius: 25px;
        color: white;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
        transition: all .5s;  

        &:hover {
            filter: brightness(108%);
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
        }
    }
}

/* functionning */
/* ************ */

.functionning {
    padding: 30px 20px;
    @include flex-col;
    gap: 30px;

    &__step {
        display: flex;
        align-items: center;      

        &__number {
            @include flex-center;
            background-color: $primary;
            height: 24px;
            width: 24px;
            border-radius: 12px;          
            z-index: 99;
            color: white;
            font-size: 14px;
        }        

        &__content {
            display: flex;
            align-items: center;
            background-color: $bg-white;
            margin-left: -12px;
            height: 72px;
            width: 100%;
            border-radius: 20px;
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);       
            
            &__icon {
                margin: 0 20px 2px 35px;                
            }

            &__icon--violet {
                color: $primary;
            }                       
        }
    }    
}

/* restaurants */
/* *********** */

.restaurants {
    padding: 30px 20px;
    @include flex-col;
    gap: 20px;
    background-color: $bg-white;
}

.card {
    @include flex-col;
    height: 250px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    /* box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1); */
            
    img {        
        width: 100%;
        height: 174px;
        object-fit: cover;
        object-position: center center;
    }

    .new {
        height: 29px;
        width: 80px;
        border-radius: 2px;
        background-color: $tertiary;
        color: #008766;
        position: absolute;
        left: 258px;
        top: 12px;
        z-index: 99;
        @include flex-center;
    }

    &__content {
        @include flex-row;
        padding: 10px;
        color: black;
        background-color: #FFFFFF;

        &__left {
            font-size: 18px;
            font-weight: bold;
            width: 75%;
            
            p {
                padding: 5px 0;
                font-size: 16px;
                font-weight: 300;
            }
        }

        &__right {
            display: flex;
            align-items: center;
            width: 25%;
            justify-content: flex-end;

            .hearts {
                position: relative;
                width: 22px;
                height: 22px;
                font-size: 22px;                
            }

            .heart {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 9;                
            }

            .heart2 {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 99;
                opacity: 0;
                background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
	            -webkit-background-clip: text;
	            -webkit-text-fill-color: transparent;
                
                &:hover {
                    animation: fill .5s ease-in forwards;
                }
            }
        }
    }
}

/* footer */
/* ****** */

footer {
    padding: 20px;
    background-color: black;
    color: white;

    h2 {
        font-family: Shrikhand, sans-serif;
        font-size: 18px;
        margin-bottom: 20px;
    }

    ul {
        @include flex-col;
        gap: 5px;        
        padding: 0;
        list-style-type: none;

        a {
            color: white;
        }

        i {
            margin-right: 8px;
        }
    }
}